@keyframes points {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes shake {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
.header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: #579c88;
  color: #fdcb38;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header__logo {
  font-size: 3rem;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: #579c88;
  color: #fdcb38;
  position: sticky;
  bottom: 0;
  z-index: 10;
  padding: 1.3rem;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer__place {
  display: flex;
  justify-content: space-around;
}

.animat:hover {
  animation: shake 150ms infinite;
  animation-timing-function: linear;
}

main {
  padding-bottom: 40px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}
.menu-list__carte {
  width: 33%;
  height: 800px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.menu-list__carte--note {
  background: #ffdfdb;
  font-family: "Devonshire", cursive;
  font-size: 3rem;
}
.menu-list__carte--note a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #3c1218;
}
.menu-list__carte--note i {
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
}
.menu-list__carte--note p {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 5rem;
  padding-top: 60px;
}
.menu-list__carte--chic {
  background: #fffafe;
  font-family: "Source Serif Pro", serif;
  font-size: 2rem;
}
.menu-list__carte--chic a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menu-list__carte--chic h2 {
  font-family: "Source Serif Pro", serif;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.3turn, #a8551e 30%, #6204f8 80%);
}
.menu-list__carte--chic p {
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  font-size: 5rem;
  padding-top: 60px;
  color: #af612d;
}
.menu-list__carte--delice {
  background: #f2f9ff;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}
.menu-list__carte--delice a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #0476f8;
}
.menu-list__carte--delice p {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 5rem;
  padding-top: 60px;
}
.menu-list__carte--palette {
  background: #f8fff8;
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
}
.menu-list__carte--palette a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menu-list__carte--palette h2 {
  font-family: "Kaushan Script", cursive;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.2turn, #12771a 20%, #9bf38b 80%);
}
.menu-list__carte--palette p {
  color: #12771a;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 5rem;
  padding-top: 60px;
}

.zoom {
  transform: scale(0.8);
  opacity: 1;
  transition: transform 300ms ease-in-out;
}
.zoom:hover {
  transform: scale(1);
  opacity: 0.3;
}

.prochain {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: #579c88;
  color: #fdcb38;
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 1rem;
  font-size: 2rem;
  margin: auto;
  border-radius: 10px;
}
.prochain a {
  text-decoration: none;
  color: inherit;
}

.chargement span {
  display: inline-block;
  animation: points 3s infinite ease-in-out;
  font-size: 2rem;
}
.chargement .point2 {
  animation-delay: 0.3s;
}
.chargement .point3 {
  animation-delay: 0.6s;
}
.chargement .point4 {
  animation-delay: 0.9s;
}

.titre {
  text-align: center;
  margin: 20px;
  font-size: 1.5rem;
}

.page-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto 20px auto;
  font-family: "Kalam", cursive;
  width: 80%;
  height: auto;
  text-align: center;
  background: #ffdfdb;
}
.page-note h1, .page-note h3 {
  margin: 20px;
  font-family: "Devonshire", cursive;
  font-size: 4rem;
  color: #3c1218;
}
.page-note i {
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
  font-size: 5rem;
}
.page-note__rubrique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.page-note__rubrique .liseret-g {
  width: 30%;
  height: 6;
  display: inline-block;
  margin: auto auto auto 0px;
}
.page-note__rubrique .liseret-d {
  width: 30%;
  height: 6;
  display: inline-block;
  margin: auto 0px auto auto;
}
.page-note__menu {
  font-family: "Kalam", cursive;
  font-size: 1.5rem;
  width: 80%;
  margin: auto auto 80px auto;
}
.page-note__menu ul {
  padding-left: 0px;
}
.page-note__menu li {
  display: inline-block;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
}
.page-note__menu--design {
  width: 79%;
  text-align: left;
}
.page-note__menu--tarif {
  width: 20%;
  text-align: right;
  font-weight: bold;
}
.page-note__menu--designf {
  width: 100%;
  text-align: left;
}

.categorie__note {
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 10%) no-repeat left bottom/0 100%;
}

.titre {
  text-align: center;
  margin: 20px;
  font-size: 1.5rem;
}

.page-chic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto 20px auto;
  font-family: "Source Serif Pro", serif;
  width: 80%;
  height: auto;
  text-align: center;
  background: #fffafe;
}
.page-chic h1 {
  font-family: "Source Serif Pro", serif;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.3turn, #a8551e 30%, #6204f8 80%);
  margin: 20px auto 80px auto;
  font-size: 4rem;
}
.page-chic__rubrique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.page-chic__rubrique .liseret-g {
  width: 30%;
  height: 15;
  display: inline-block;
  margin: auto auto auto 0px;
}
.page-chic__rubrique .liseret-d {
  width: 30%;
  height: 15;
  display: inline-block;
  margin: auto 0px auto auto;
}
.page-chic__rubrique--part1 {
  color: #a8551e;
}
.page-chic__rubrique--part2 {
  color: #b90dfd;
}
.page-chic__rubrique--part3 {
  color: #6204f8;
}
.page-chic__menu {
  font-family: "Source Serif Pro", serif;
  font-size: 1.5rem;
  width: 80%;
  margin: auto auto 80px auto;
}
.page-chic__menu ul {
  padding-left: 0px;
}
.page-chic__menu li {
  display: inline-block;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
}
.page-chic__menu--design {
  width: 79%;
  text-align: left;
}
.page-chic__menu--tarif {
  width: 20%;
  text-align: right;
  font-weight: bold;
}
.page-chic__menu--designf {
  width: 100%;
  text-align: left;
}
.page-chic__menu--part1 {
  color: #a8551e;
}
.page-chic__menu--part2 {
  color: #b90dfd;
}
.page-chic__menu--part3 {
  color: #6204f8;
}

.categorie__chic1 {
  background: linear-gradient(to top, #a8551e 0%, #a8551e 10%, transparent 10%) no-repeat left bottom/0 100%;
}
.categorie__chic2 {
  background: linear-gradient(to top, #b90dfd 0%, #b90dfd 10%, transparent 10%) no-repeat left bottom/0 100%;
}
.categorie__chic3 {
  background: linear-gradient(to top, #6204f8 0%, #6204f8 10%, transparent 10%) no-repeat left bottom/0 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.categorie {
  display: inline-block;
  text-decoration: none;
  transition: background-size 1s;
}
.categorie:hover {
  background-size: 100% 100%;
}

/*# sourceMappingURL=style.css.map */
