@keyframes points {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes shake {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
.header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: #579c88;
  color: #fdcb38;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header__logo {
  font-size: 3rem;
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 0.5rem;
  }
  .header__logo {
    font-size: 1.8rem;
  }
}
.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: #579c88;
  color: #fdcb38;
  position: sticky;
  bottom: 0;
  z-index: 10;
  padding: 1.3rem;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer__place {
  display: flex;
  justify-content: space-around;
}

.animat:hover {
  animation: shake 150ms infinite;
  animation-timing-function: linear;
}

main {
  padding-bottom: 40px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}
.menu-list__carte {
  width: 33%;
  height: 800px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.menu-list__carte--note {
  background: #ffdfdb;
  font-family: "Devonshire", cursive;
  font-size: 2.5vw;
}
.menu-list__carte--note a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #3c1218;
}
.menu-list__carte--note i {
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
}
.menu-list__carte--note p {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 5vw;
  padding-top: 60px;
}
.menu-list__carte--chic {
  background: #fffafe;
  font-family: "Source Serif Pro", serif;
  font-size: 2vw;
}
.menu-list__carte--chic a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menu-list__carte--chic h2 {
  font-family: "Source Serif Pro", serif;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.3turn, #a8551e 30%, #6204f8 80%);
}
.menu-list__carte--chic p {
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  font-size: 4vw;
  padding-top: 60px;
  color: #af612d;
}
.menu-list__carte--delice {
  background: #f2f9ff;
  font-family: "Dancing Script", cursive;
  font-size: 2.5vw;
}
.menu-list__carte--delice a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #0476f8;
}
.menu-list__carte--delice h2 {
  font-family: "Dancing Script", cursive;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.2turn, #1e07f1 20%, #268afc 80%);
}
.menu-list__carte--delice p {
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 5vw;
  padding-top: 60px;
}
.menu-list__carte--palette {
  background: #f8fff8;
  font-family: "Kaushan Script", cursive;
  font-size: 2.5vw;
}
.menu-list__carte--palette a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menu-list__carte--palette h2 {
  font-family: "Kaushan Script", cursive;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.2turn, #12771a 20%, #9bf38b 80%);
}
.menu-list__carte--palette p {
  color: #12771a;
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 5vw;
  padding-top: 60px;
}

.zoom {
  transform: scale(0.8);
  opacity: 1;
  transition: transform 300ms ease-in-out;
}
.zoom:hover {
  transform: scale(1);
  opacity: 0.3;
}

.prochain {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: #579c88;
  color: #fdcb38;
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 1rem;
  font-size: 2rem;
  margin: auto;
  border-radius: 10px;
}
.prochain a {
  text-decoration: none;
  color: inherit;
}

.chargement span {
  display: inline-block;
  animation: points 3s infinite ease-in-out;
  font-size: 2rem;
}
.chargement .point2 {
  animation-delay: 0.3s;
}
.chargement .point3 {
  animation-delay: 0.6s;
}
.chargement .point4 {
  animation-delay: 0.9s;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .menu-list {
    margin: 15px;
  }
  .menu-list__carte {
    width: 40%;
    height: 700px;
    margin: 20px;
  }
  .menu-list__carte--note {
    background: #ffdfdb;
    font-family: "Devonshire", cursive;
    font-size: 3vw;
  }
  .menu-list__carte--note a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #3c1218;
  }
  .menu-list__carte--note i {
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
  }
  .menu-list__carte--note p {
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 60px;
  }
  .menu-list__carte--chic {
    background: #fffafe;
    font-family: "Source Serif Pro", serif;
    font-size: 2.4vw;
  }
  .menu-list__carte--chic a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .menu-list__carte--chic h2 {
    font-family: "Source Serif Pro", serif;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.3turn, #a8551e 30%, #6204f8 80%);
  }
  .menu-list__carte--chic p {
    font-family: "Source Serif Pro", serif;
    font-weight: bold;
    font-size: 4.8vw;
    padding-top: 60px;
    color: #af612d;
  }
  .menu-list__carte--delice {
    background: #f2f9ff;
    font-family: "Dancing Script", cursive;
    font-size: 3vw;
  }
  .menu-list__carte--delice a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #0476f8;
  }
  .menu-list__carte--delice h2 {
    font-family: "Dancing Script", cursive;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.2turn, #1e07f1 20%, #268afc 80%);
  }
  .menu-list__carte--delice p {
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 60px;
  }
  .menu-list__carte--palette {
    background: #f8fff8;
    font-family: "Kaushan Script", cursive;
    font-size: 3vw;
  }
  .menu-list__carte--palette a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .menu-list__carte--palette h2 {
    font-family: "Kaushan Script", cursive;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.2turn, #12771a 20%, #9bf38b 80%);
  }
  .menu-list__carte--palette p {
    color: #12771a;
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 60px;
  }

  .prochain {
    width: 30%;
    padding: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-list {
    margin: 15px;
  }
  .menu-list__carte {
    width: 40%;
    height: 600px;
    margin: 20px;
  }
  .menu-list__carte--note {
    background: #ffdfdb;
    font-family: "Devonshire", cursive;
    font-size: 3vw;
  }
  .menu-list__carte--note a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #3c1218;
  }
  .menu-list__carte--note i {
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
  }
  .menu-list__carte--note p {
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 60px;
  }
  .menu-list__carte--chic {
    background: #fffafe;
    font-family: "Source Serif Pro", serif;
    font-size: 2vw;
  }
  .menu-list__carte--chic a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .menu-list__carte--chic h2 {
    font-family: "Source Serif Pro", serif;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.3turn, #a8551e 30%, #6204f8 80%);
  }
  .menu-list__carte--chic p {
    font-family: "Source Serif Pro", serif;
    font-weight: bold;
    font-size: 4vw;
    padding-top: 60px;
    color: #af612d;
  }
  .menu-list__carte--delice {
    background: #f2f9ff;
    font-family: "Dancing Script", cursive;
    font-size: 3vw;
  }
  .menu-list__carte--delice a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #0476f8;
  }
  .menu-list__carte--delice h2 {
    font-family: "Dancing Script", cursive;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.2turn, #1e07f1 20%, #268afc 80%);
  }
  .menu-list__carte--delice p {
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 60px;
  }
  .menu-list__carte--palette {
    background: #f8fff8;
    font-family: "Kaushan Script", cursive;
    font-size: 3vw;
  }
  .menu-list__carte--palette a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .menu-list__carte--palette h2 {
    font-family: "Kaushan Script", cursive;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.2turn, #12771a 20%, #9bf38b 80%);
  }
  .menu-list__carte--palette p {
    color: #12771a;
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 6vw;
    padding-top: 60px;
  }

  .prochain {
    width: 30%;
    padding: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .menu-list {
    flex-direction: column;
  }
  .menu-list__carte {
    width: 90%;
    height: 500px;
    margin: 20px;
  }
  .menu-list__carte--note {
    background: #ffdfdb;
    font-family: "Devonshire", cursive;
    font-size: 6vw;
  }
  .menu-list__carte--note a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #3c1218;
  }
  .menu-list__carte--note i {
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
  }
  .menu-list__carte--note p {
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 12vw;
    padding-top: 60px;
  }
  .menu-list__carte--chic {
    background: #fffafe;
    font-family: "Source Serif Pro", serif;
    font-size: 5vw;
  }
  .menu-list__carte--chic a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .menu-list__carte--chic h2 {
    font-family: "Source Serif Pro", serif;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.3turn, #a8551e 30%, #6204f8 80%);
  }
  .menu-list__carte--chic p {
    font-family: "Source Serif Pro", serif;
    font-weight: bold;
    font-size: 10vw;
    padding-top: 60px;
    color: #af612d;
  }
  .menu-list__carte--delice {
    background: #f2f9ff;
    font-family: "Dancing Script", cursive;
    font-size: 6vw;
  }
  .menu-list__carte--delice a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #0476f8;
  }
  .menu-list__carte--delice h2 {
    font-family: "Dancing Script", cursive;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.2turn, #1e07f1 20%, #268afc 80%);
  }
  .menu-list__carte--delice p {
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 12vw;
    padding-top: 60px;
  }
  .menu-list__carte--palette {
    background: #f8fff8;
    font-family: "Kaushan Script", cursive;
    font-size: 6vw;
  }
  .menu-list__carte--palette a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .menu-list__carte--palette h2 {
    font-family: "Kaushan Script", cursive;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.2turn, #12771a 20%, #9bf38b 80%);
  }
  .menu-list__carte--palette p {
    color: #12771a;
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 12vw;
    padding-top: 60px;
  }

  .prochain {
    width: 60%;
    padding: 1rem;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
}
.titre {
  text-align: center;
  margin: 20px;
  font-size: 1.5vw;
}

.page-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto 20px auto;
  font-family: "Kalam", cursive;
  width: 80%;
  height: auto;
  text-align: center;
  background: #ffdfdb;
}
.page-note h1, .page-note h3 {
  margin: 80px 20px 80px 20px;
  font-family: "Devonshire", cursive;
  font-size: 4rem;
  color: #3c1218;
}
.page-note i {
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
  font-size: 5rem;
}
.page-note__rubrique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5vw;
  margin-bottom: 50px;
}
.page-note__rubrique .liseret-g {
  width: 30%;
  height: 6;
  display: inline-block;
  margin: auto auto auto 0px;
}
.page-note__rubrique .liseret-d {
  width: 30%;
  height: 6;
  display: inline-block;
  margin: auto 0px auto auto;
}
.page-note__menu {
  font-family: "Kalam", cursive;
  font-size: 1.5vw;
  width: 87%;
  margin: auto auto 80px auto;
}
.page-note__menu ul {
  padding-left: 0px;
}
.page-note__menu li {
  display: inline-block;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
}
.page-note__menu--design {
  width: 80%;
  text-align: left;
}
.page-note__menu--tarif {
  width: 10%;
  text-align: right;
  font-weight: bold;
}
.page-note__menu--designf {
  width: 90%;
  text-align: left;
}

.categorie__note {
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 10%) no-repeat left bottom/0 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page-note h1, .page-note h3 {
    margin: 60px 10px 60px 10px;
    font-size: 7vw;
  }
  .page-note i {
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
    font-size: 4.5rem;
  }
  .page-note__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
    margin-bottom: 40px;
  }
  .page-note__menu {
    font-family: "Kalam", cursive;
    font-size: 2vw;
    width: 85%;
    margin: auto auto 80px auto;
  }
  .page-note__menu ul {
    padding-left: 0px;
  }
  .page-note__menu li {
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
  .page-note__menu--design {
    width: 80%;
    text-align: left;
  }
  .page-note__menu--tarif {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  .page-note__menu--designf {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-note h1, .page-note h3 {
    margin: 40px 10px 40px 10px;
    font-size: 6vw;
  }
  .page-note i {
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
    font-size: 3rem;
  }
  .page-note__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
    margin-bottom: 20px;
  }
  .page-note__menu {
    font-family: "Kalam", cursive;
    font-size: 3vw;
    width: 85%;
    margin: auto auto 80px auto;
  }
  .page-note__menu ul {
    padding-left: 0px;
  }
  .page-note__menu li {
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
  .page-note__menu--design {
    width: 80%;
    text-align: left;
  }
  .page-note__menu--tarif {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  .page-note__menu--designf {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .page-note {
    margin: auto auto 20px auto;
    font-family: "Kalam", cursive;
    width: 100%;
    height: auto;
    text-align: center;
    background: #ffdfdb;
  }
  .page-note h1, .page-note h3 {
    margin: 40px 10px 40px 10px;
    font-size: 6vw;
  }
  .page-note i {
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(0.15turn, #e94e60, #f7ad7b);
    font-size: 3rem;
  }
  .page-note__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3vw;
    margin-bottom: 20px;
    width: 90%;
  }
  .page-note__menu {
    font-family: "Kalam", cursive;
    font-size: 4vw;
    width: 100%;
    margin: auto auto 40px auto;
  }
  .page-note__menu ul {
    padding-left: 0px;
  }
  .page-note__menu li {
    display: inline-block;
    flex-direction: column;
    margin: 0px;
  }
  .page-note__menu--design {
    width: 80%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
  .page-note__menu--tarif {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .page-note__menu--designf {
    width: 90%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
}
.titre {
  text-align: center;
  margin: 20px;
  font-size: 1.5vw;
}

.page-chic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto 20px auto;
  font-family: "Source Serif Pro", serif;
  width: 80%;
  height: auto;
  text-align: center;
  background: #fffafe;
}
.page-chic h1 {
  font-family: "Source Serif Pro", serif;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.3turn, #a8551e 30%, #6204f8 80%);
  margin: 80px 20px 80px 20px;
  font-size: 4rem;
}
.page-chic__rubrique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5vw;
  margin-bottom: 50px;
}
.page-chic__rubrique .liseret-g {
  width: 30%;
  height: 15;
  display: inline-block;
  margin: auto auto auto 0px;
}
.page-chic__rubrique .liseret-d {
  width: 30%;
  height: 15;
  display: inline-block;
  margin: auto 0px auto auto;
}
.page-chic__rubrique--part1 {
  color: #a8551e;
}
.page-chic__rubrique--part2 {
  color: #b90dfd;
}
.page-chic__rubrique--part3 {
  color: #6204f8;
}
.page-chic__menu {
  font-family: "Source Serif Pro", serif;
  font-size: 1.4vw;
  width: 70%;
  margin: auto auto 80px auto;
}
.page-chic__menu ul {
  padding-left: 0px;
}
.page-chic__menu li {
  display: inline-block;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
}
.page-chic__menu--design {
  width: 80%;
  text-align: left;
}
.page-chic__menu--tarif {
  width: 10%;
  text-align: right;
  font-weight: bold;
}
.page-chic__menu--designf {
  width: 90%;
  text-align: left;
}
.page-chic__menu--part1 {
  color: #a8551e;
}
.page-chic__menu--part2 {
  color: #b90dfd;
}
.page-chic__menu--part3 {
  color: #6204f8;
}

.categorie__chic1 {
  background: linear-gradient(to top, #a8551e 0%, #a8551e 10%, transparent 10%) no-repeat left bottom/0 100%;
}
.categorie__chic2 {
  background: linear-gradient(to top, #b90dfd 0%, #b90dfd 10%, transparent 10%) no-repeat left bottom/0 100%;
}
.categorie__chic3 {
  background: linear-gradient(to top, #6204f8 0%, #6204f8 10%, transparent 10%) no-repeat left bottom/0 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page-chic h1 {
    margin: 60px 10px 60px 10px;
    font-size: 4.5vw;
  }
  .page-chic__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.7vw;
    margin-bottom: 40px;
  }
  .page-chic__menu {
    font-family: "Source Serif Pro", serif;
    font-size: 2vw;
    width: 70%;
    margin: auto auto 80px auto;
  }
  .page-chic__menu ul {
    padding-left: 0px;
  }
  .page-chic__menu li {
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
  .page-chic__menu--design {
    width: 80%;
    text-align: left;
  }
  .page-chic__menu--tarif {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  .page-chic__menu--designf {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-chic h1 {
    margin: 40px 10px 40px 10px;
    font-size: 6vw;
  }
  .page-chic__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.8vw;
    margin-bottom: 20px;
  }
  .page-chic__menu {
    font-family: "Source Serif Pro", serif;
    font-size: 2vw;
    width: 70%;
    margin: auto auto 80px auto;
  }
  .page-chic__menu ul {
    padding-left: 0px;
  }
  .page-chic__menu li {
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
  .page-chic__menu--design {
    width: 80%;
    text-align: left;
  }
  .page-chic__menu--tarif {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  .page-chic__menu--designf {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .page-chic {
    margin: auto auto 20px auto;
    font-family: "Source Serif Pro", serif;
    width: 100%;
    height: auto;
    text-align: center;
    background: #fffafe;
  }
  .page-chic h1 {
    margin: 40px 10px 40px 10px;
    font-size: 5vw;
  }
  .page-chic__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.8vw;
    margin-bottom: 20px;
    width: 95%;
  }
  .page-chic__menu {
    font-family: "Source Serif Pro", serif;
    font-size: 3.5vw;
    width: 100%;
    margin: auto auto 40px auto;
  }
  .page-chic__menu ul {
    padding-left: 0px;
  }
  .page-chic__menu li {
    display: inline-block;
    flex-direction: column;
    margin: 0px;
  }
  .page-chic__menu--design {
    width: 80%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
  .page-chic__menu--tarif {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .page-chic__menu--designf {
    width: 90%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
}
.titre {
  text-align: center;
  margin: 20px;
  font-size: 1.5vw;
}

.page-delice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto 20px auto;
  font-family: "Kalam", cursive;
  width: 80%;
  height: auto;
  text-align: center;
  background: #f2f9ff;
}
.page-delice h1 {
  font-family: "Dancing Script", cursive;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.3turn, #1e07f1 30%, #268afc 80%);
  margin: 80px 20px 80px 20px;
  font-size: 4rem;
}
.page-delice__rubrique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5vw;
  margin-bottom: 50px;
}
.page-delice__rubrique h3 {
  font-weight: lighter;
}
.page-delice__rubrique .liseret-g {
  width: 30%;
  height: 15;
  display: inline-block;
  margin: auto auto auto 0px;
}
.page-delice__rubrique .liseret-d {
  width: 30%;
  height: 15;
  display: inline-block;
  margin: auto 0px auto auto;
}
.page-delice__menu {
  font-family: "Kalam", cursive;
  font-size: 1.3vw;
  width: 70%;
  margin: auto auto 80px auto;
}
.page-delice__menu ul {
  padding-left: 0px;
}
.page-delice__menu li {
  display: inline-block;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
}
.page-delice__menu--design {
  width: 80%;
  text-align: left;
}
.page-delice__menu--tarif {
  width: 10%;
  text-align: right;
  font-weight: bold;
}
.page-delice__menu--designf {
  width: 90%;
  text-align: left;
}

.categorie__delice1 {
  background: linear-gradient(to top, #1e07f1 0%, #1e07f1 10%, transparent 10%) no-repeat left bottom/0 100%;
}
.categorie__delice2 {
  background: linear-gradient(to top, #0367da 0%, #0367da 10%, transparent 10%) no-repeat left bottom/0 100%;
}
.categorie__delice3 {
  background: linear-gradient(to top, #268afc 0%, #268afc 10%, transparent 10%) no-repeat left bottom/0 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page-delice h1 {
    margin: 60px 10px 60px 10px;
    font-size: 5vw;
  }
  .page-delice__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
    margin-bottom: 40px;
  }
  .page-delice__menu {
    font-family: "Kalam", cursive;
    font-size: 2vw;
    width: 70%;
    margin: auto auto 80px auto;
  }
  .page-delice__menu ul {
    padding-left: 0px;
  }
  .page-delice__menu li {
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
  .page-delice__menu--design {
    width: 80%;
    text-align: left;
  }
  .page-delice__menu--tarif {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  .page-delice__menu--designf {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-delice h1 {
    margin: 40px 10px 40px 10px;
    font-size: 5vw;
  }
  .page-delice__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.4vw;
    margin-bottom: 20px;
  }
  .page-delice__menu {
    font-family: "Kalam", cursive;
    font-size: 2.5vw;
    width: 70%;
    margin: auto auto 80px auto;
  }
  .page-delice__menu ul {
    padding-left: 0px;
  }
  .page-delice__menu li {
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
  .page-delice__menu--design {
    width: 80%;
    text-align: left;
  }
  .page-delice__menu--tarif {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  .page-delice__menu--designf {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .page-delice {
    margin: auto auto 20px auto;
    font-family: "Kalam", cursive;
    width: 100%;
    height: auto;
    text-align: center;
    background: #f2f9ff;
  }
  .page-delice h1 {
    margin: 40px 10px 40px 10px;
    font-size: 6vw;
  }
  .page-delice__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3.2vw;
    margin-bottom: 20px;
    width: 95%;
  }
  .page-delice__menu {
    font-family: "Kalam", cursive;
    font-size: 4vw;
    width: 100%;
    margin: auto auto 40px auto;
  }
  .page-delice__menu ul {
    padding-left: 0px;
  }
  .page-delice__menu li {
    display: inline-block;
    flex-direction: column;
    margin: 0px;
  }
  .page-delice__menu--design {
    width: 80%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
  .page-delice__menu--tarif {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .page-delice__menu--designf {
    width: 90%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
}
.titre {
  text-align: center;
  margin: 20px;
  font-size: 1.5vw;
}

.page-palette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto 20px auto;
  font-family: "Kalam", cursive;
  width: 80%;
  height: auto;
  text-align: center;
  background: #f8fff8;
}
.page-palette h1 {
  font-family: "Kaushan Script", cursive;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.3turn, #12771a 30%, #9bf38b 80%);
  margin: 80px 20px 80px 20px;
  font-size: 5vw;
}
.page-palette__rubrique {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2vw;
  margin-bottom: 50px;
}
.page-palette__rubrique h3 {
  font-weight: lighter;
}
.page-palette__rubrique .liseret-g {
  width: 30%;
  height: 15;
  display: inline-block;
  margin: auto auto auto 0px;
}
.page-palette__rubrique .liseret-d {
  width: 30%;
  height: 15;
  display: inline-block;
  margin: auto 0px auto auto;
}
.page-palette__menu {
  font-family: "Kalam", cursive;
  font-size: 1.4vw;
  width: 70%;
  margin: auto auto 80px auto;
}
.page-palette__menu ul {
  padding-left: 0px;
}
.page-palette__menu li {
  display: inline-block;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
}
.page-palette__menu--design {
  width: 80%;
  text-align: left;
}
.page-palette__menu--tarif {
  width: 10%;
  text-align: right;
  font-weight: bold;
}
.page-palette__menu--designf {
  width: 90%;
  text-align: left;
}

.categorie__palette1 {
  background: linear-gradient(to top, #12771a 0%, #12771a 10%, transparent 10%) no-repeat left bottom/0 100%;
}
.categorie__palette2 {
  background: linear-gradient(to top, #518f56 0%, #518f56 10%, transparent 10%) no-repeat left bottom/0 100%;
}
.categorie__palette3 {
  background: linear-gradient(to top, #9bf38b 0%, #9bf38b 10%, transparent 10%) no-repeat left bottom/0 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page-palette h1 {
    margin: 60px 10px 60px 10px;
    font-size: 5vw;
  }
  .page-palette__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2vw;
    margin-bottom: 40px;
  }
  .page-palette__menu {
    font-family: "Kalam", cursive;
    font-size: 2vw;
    width: 70%;
    margin: auto auto 80px auto;
  }
  .page-palette__menu ul {
    padding-left: 0px;
  }
  .page-palette__menu li {
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
  .page-palette__menu--design {
    width: 80%;
    text-align: left;
  }
  .page-palette__menu--tarif {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  .page-palette__menu--designf {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-palette h1 {
    margin: 40px 10px 40px 10px;
    font-size: 5vw;
  }
  .page-palette__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.4vw;
    margin-bottom: 20px;
  }
  .page-palette__menu {
    font-family: "Kalam", cursive;
    font-size: 2.5vw;
    width: 70%;
    margin: auto auto 80px auto;
  }
  .page-palette__menu ul {
    padding-left: 0px;
  }
  .page-palette__menu li {
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
  .page-palette__menu--design {
    width: 80%;
    text-align: left;
  }
  .page-palette__menu--tarif {
    width: 10%;
    text-align: right;
    font-weight: bold;
  }
  .page-palette__menu--designf {
    width: 90%;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .page-palette {
    margin: auto auto 20px auto;
    font-family: "Kalam", cursive;
    width: 100%;
    height: auto;
    text-align: center;
    background: #f8fff8;
  }
  .page-palette h1 {
    margin: 40px 10px 40px 10px;
    font-size: 6vw;
  }
  .page-palette__rubrique {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3.2vw;
    margin-bottom: 20px;
    width: 95%;
  }
  .page-palette__menu {
    font-family: "Kalam", cursive;
    font-size: 3.5vw;
    width: 100%;
    margin: auto auto 40px auto;
  }
  .page-palette__menu ul {
    padding-left: 0px;
  }
  .page-palette__menu li {
    display: inline-block;
    flex-direction: column;
    margin: 0px;
  }
  .page-palette__menu--design {
    width: 80%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
  .page-palette__menu--tarif {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .page-palette__menu--designf {
    width: 90%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }
}
.legal {
  display: block;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto 40px auto;
  width: 70%;
}
.legal h2 {
  text-align: center;
  margin: 15px;
}
.legal h3 {
  margin: 10px;
}
.legal p {
  margin-left: 30px;
  text-align: justify;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.categorie {
  display: inline-block;
  text-decoration: none;
  transition: background-size 1s;
}
.categorie:hover {
  background-size: 100% 100%;
}

/*# sourceMappingURL=style.css.map */
