.titre{
  @include titre;
}

.page-note{
  @include centrage-colonne;
  @include menucouleur($font-page, $color-fond-note);
  & h1, h3{
    margin: 20px;
    font-family: $font-note;
    font-size: 4rem;
    color: $color-fonts-note;
  }
    & i{
      @include degrade-note;
      font-size: 5rem;
    }
    &__rubrique{
      @include centragecategorie;
      & .liseret-g {
        @include taille-liseret-g;
      }
      & .liseret-d {
        @include taille-liseret-d;
      }
    }
    &__menu{
      @include centragecontenue($font-page);
    }
}
.categorie__note{
  @include souligne($color-fonts-note);
}
