.titre{
  @include titre (1.5vw);
}

.page-chic{
  @include centrage-colonne;
  @include menucouleur($font-chic, $color-fond-chic, 80%);
  
  & h1{
    @include degrade-menu($font-chic);
    background-image: linear-gradient(0.3turn, $color-chic-deb 30%, $color-chic-fin 80%);
    margin: 80px 20px 80px 20px;
    font-size: 4rem;
  }
    &__rubrique{
      @include centragecategorie (1.5vw, 50px);
      & .liseret-g {
        @include taille-liseret-g(15);
      }
      & .liseret-d {
        @include taille-liseret-d(15);
      }
      &--part1 {
        color: $color-chic-deb;
      }
      &--part2 {
        color: $color-chic-int;
      }
      &--part3 {
        color: $color-chic-fin;
      }
    }
    &__menu{
      @include centragecontenue($font-chic, 70%, 1.4vw);
      &--part1 {
        color: $color-chic-deb;
      }
      &--part2 {
        color: $color-chic-int;
      }
      &--part3 {
        color: $color-chic-fin;
      }
    }

}
.categorie{
  &__chic1{
  @include souligne($color-chic-deb);
  }
  &__chic2{
  @include souligne($color-chic-int);
  }
  &__chic3{
  @include souligne($color-chic-fin);
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page-chic{
    & h1{
      margin: 60px 10px 60px 10px;
      font-size: 4.5vw;
    }
    &__rubrique{
      @include centragecategorie (1.7vw, 40px);
    }
    &__menu{
      @include centragecontenue ($font-chic, 70%, 2vw);
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-chic{
    & h1{
      margin: 40px 10px 40px 10px;
      font-size: 6vw;
    }
    &__rubrique{
      @include centragecategorie (1.8vw, 20px);
    }
    &__menu{
      @include centragecontenue ($font-chic, 70%, 2vw);
    }
  }

}

@media only screen and (max-width: 767px) {
  .page-chic{
    @include menucouleur($font-chic, $color-fond-chic, 100%);
    & h1{
      margin: 40px 10px 40px 10px;
      font-size: 5vw;
    }
    &__rubrique{
      @include centragecategorie (2.8vw, 20px);
      width: 95%;
    }
    &__menu{
      @include centragecontenuem ($font-chic, 100%, 3.5vw);
    }
  }
}