.titre{
  @include titre (1.5vw);
}

.page-palette{
  @include centrage-colonne;
  @include menucouleur($font-page, $color-fond-palette);
  
  & h1{
    @include degrade-menu($font-palette);
    background-image: linear-gradient(0.3turn, $color-palette-deb 30%, $color-palette-fin 80%);
    margin: 80px 20px 80px 20px;
    font-size: 5vw;
  }
    &__rubrique{
      @include centragecategorie (2vw, 50px);
      & h3{
        font-weight: lighter;
      }
      
      & .liseret-g {
        @include taille-liseret-g(15);
      }
      & .liseret-d {
        @include taille-liseret-d(15);
      }
    }
    &__menu{
      @include centragecontenue($font-page, 70%, 1.4vw);
    }

}
.categorie{
  &__palette1{
  @include souligne($color-palette-deb);
  }
  &__palette2{
  @include souligne($color-palette-int);
  }
  &__palette3{
  @include souligne($color-palette-fin);
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .page-palette{
    & h1{
      margin: 60px 10px 60px 10px;
      font-size: 5vw;
    }
    &__rubrique{
      @include centragecategorie (2vw, 40px);
    }
    &__menu{
      @include centragecontenue ($font-page, 70%, 2vw);
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .page-palette{
    & h1{
      margin: 40px 10px 40px 10px;
      font-size: 5vw;
    }
    &__rubrique{
      @include centragecategorie (2.4vw, 20px);
    }
    &__menu{
      @include centragecontenue ($font-page, 70%, 2.5vw);
    }
  }

}

@media only screen and (max-width: 767px) {
  .page-palette {
    & h1{
      margin: 40px 10px 40px 10px;
      font-size: 6vw;
    }
    &__rubrique{
      @include centragecategorie (2.2vw, 20px);
    }
    &__menu{
      @include centragecontenuem ($font-page, 100%, 2.5vw);
    }
  }
}