//paramétrage des couleurs du header et footer des pages
@mixin color_acceuil {
  font-family: $font-index;
  font-weight: bold;
  background: $color-bandeau;
  color: $color-text;
    a{
    text-decoration: none;
    color: inherit;
  }
    
}

//centrage des menus acceuil et agrandissemnt de la zone de zoom
@mixin centrage-acceuil{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
//Decalage du titre menu et police de caractères
@mixin menu-decalage($fonts, $taille){
  font-family: $fonts;
  font-weight: bold;
  font-size: $taille*2;
  padding-top: 60px;
}

//Dégradé pour le logo note de musique
@mixin degrade-note{
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0.15turn, $color-note-deb, $color-note-fin);
}

//Dégradé pour les menu chic délice palette
@mixin degrade-menu($fonts){
  font-family: $fonts;
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
  
}


//Paramétrage du menu note de la page d'acceuil
@mixin acceuil-note ($taille){
  background: $color-fond-note;
  font-family: $font-note;
  font-size: $taille;
  & a {
    @include centrage-acceuil;
    color: $color-fonts-note;
    }
    & i {
      @include degrade-note;
      }
      & p{
        @include menu-decalage($font-menu, $taille);
        }
}
//Paramétrage du menu chic de la page d'acceuil
@mixin acceuil-chic ($taille){
  background: $color-fond-chic;
  font-family: $font-chic;
  font-size: $taille;
  & a {
    @include centrage-acceuil;
    }
    & h2 {
      @include degrade-menu($font-chic);
      background-image: linear-gradient(0.3turn, $color-chic-deb 30%, $color-chic-fin 80%);
      }
      & p{
        @include menu-decalage($font-chic, $taille);
        color: $color-fonts-chic;
        }
}
//Paramétrage du menu delice de la page d'acceuil
@mixin acceuil-delice ($taille){
  background: $color-fond-delice;
  font-family: $font-delice;
  font-size: $taille;
  & a {
    @include centrage-acceuil;
    color: $color-fonts-delice;
    }
    & h2 {
      @include degrade-menu($font-delice);
      background-image: linear-gradient(0.2turn, $color-delice-deb 20%, $color-delice-fin 80%);
      }
      & p{
        @include menu-decalage($font-menu, $taille);
        }
}
//Paramétrage du menu palette de la page d'acceuil
@mixin acceuil-palette ($taille){
  background: $color-fond-palette;
  font-family: $font-palette;
  font-size: $taille;
  & a {
    @include centrage-acceuil;
    }
    & h2 {
      @include degrade-menu($font-palette);
      background-image: linear-gradient(0.2turn, $color-palette-deb 20%, $color-palette-fin 80%);
      }
      & p{
        color: $color-fonts-palette;
        @include menu-decalage($font-menu, $taille);
        }
}

//centrage flex colum center
@mixin centrage-colonne {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//centrage des liseret + titre des rubrique
@mixin liseret {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

//mise a la taille des liseret gauche
@mixin taille-liseret-g($taille) {
  width: 30%;
  height: $taille;
  display: inline-block;
  margin: auto auto auto 0px;
}
//mise a la taille des liseret droit
@mixin taille-liseret-d($taille) {
  width: 30%;
  height: $taille;
  display: inline-block;
  margin: auto 0px auto auto;
}


// soulignage
@mixin souligne($background) {
    background: linear-gradient(to top, $background 0%, $background 10%, transparent 10%) no-repeat left bottom / 0 100%;
}


//parametre commun sur les pages de menus
//centrage du titre principale
@mixin titre ($size){
  text-align: center;
  margin: 20px;
  font-size: $size;
}
//centrage du titre dans le menu
@mixin menucouleur ($police, $couleur) {
  margin: auto auto 20px auto;
  font-family: $police;
  width: 80%;
  height: auto;
  text-align: center;
  background: $couleur;
}
//centrage des categories
@mixin centragecategorie ($size, $hauteur) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $size;
  margin-bottom: $hauteur;
}
//centrage des contenus version desktop
@mixin centragecontenue ($police, $taille, $size){
  font-family: $police;
  font-size: $size;
  width: $taille;
  margin: auto auto 80px auto;
  & ul{
    padding-left: 0px;
  }
  & li{
    display: inline-block;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
  }
    &--design{
      width: 80%;
      text-align: left;
    }
    &--tarif{
      width: 10%;
      text-align: right;
      font-weight: bold; 
    }
    &--designf{
      width: 90%;
      text-align: left;
    }
}

//centrage des contenus version mobile
@mixin centragecontenuem ($police, $taille, $size){
  font-family: $police;
  font-size: $size;
  width: $taille;
  margin: auto auto 40px auto;
  & ul{
    padding-left: 0px;
  }
  & li{
    display: inline-block;
    flex-direction: column;
    margin: 0px;
    }
    &--design{
      width: 80%;
      text-align: center;
      padding: 20px 0px 0px 0px;
    }
    &--tarif{
      width: 100%;
      text-align: center;
      font-weight: bold;
    }
    &--designf{
      width: 90%;
      text-align: center;
      padding: 20px 0px 0px 0px;
    }
}