//couleur bandeau page index
$color-bandeau: #579c88;
$color-text: #fdcb38;

//déclaration police sur le site
$font-index: 'Montserrat', sans-serif;
$font-note: 'Devonshire', cursive;
$font-chic: 'Source Serif Pro', serif;
$font-delice: 'Dancing Script', cursive;
$font-palette: 'Kaushan Script', cursive;

//déclaration couleur de fond des menus
$color-fond-note: #ffdfdb;
$color-fond-chic: #fffafe;
$color-fond-delice: #f2f9ff;
$color-fond-palette: #f8fff8;